.form label {
  display: block;
  margin: 1rem 0.5rem;
}

.form input {
  display: block;
  margin: 0 0.5rem;
  margin-bottom: 1rem;
  width: 80%;
  height: 1.5rem;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button button {
  width: 4rem;
  height: 1.5rem;
  border: 1px solid #eee;
  border-radius: 5px;
  background-color: #eee;
  cursor: pointer;
  margin: 1rem 1rem;
}

.button button:hover {
  background-color: #7d7d7d;
}
