.main li {
  list-style: none;
}

.main {
  height: 45vh;
  overflow-y: scroll;
  width: 75vw;
}

.main::-webkit-scrollbar {
  display: none;
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.list li {
  margin: 0;
  margin-right: 5%;
  margin-bottom: 2%;
  padding: 1rem;
  background-color: white;
  border-radius: 20px;
  box-shadow: 2px 3px 10px 0px rgb(145, 145, 145);
}

.list li:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 0.5rem;
}

.bar p {
  margin: 0;
  font-size: 24px;
}

.bar button {
  font-size: 16px;
  padding: 0;
  height: 2rem;
  width: 5rem;
  border-radius: 20px;
  border: none;
  background-color: rgba(217, 217, 217, 1);
  font-weight: 600;
}

.bar button:hover {
  cursor: pointer;
  transform: scale(1.05);
}