.item {
  width: 30vw;
  display: flex;
  flex-direction: column;
}



.date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.progressBar {
  animation: progress 1s ease-in-out;
}

@keyframes progress {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

.title {
  font-size: 16px;
  font-weight: 600;
}

.amount {
  background-color: rgba(217, 217, 217, 1);
  padding: 0.3rem 1rem;
  border-radius: 20px;
}

.date {
  color: rgb(111, 111, 111);
}

.close {
  border: none;
  font-size: 1rem;
  padding: 0.5rem 0;
  font-weight: 600;
}

.close:hover {
  cursor: pointer;
  background-color: rgb(111, 111, 111)
}