.progress {
  padding-left: 30px;
}

.progress p {
  color: white;
  font-size: 20px;
}

.detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rest {
  font-size: 16px !important;
  color: rgb(126, 125, 125) !important;
}

.bar {
  animation: progress 1s ease-in-out;
}

@keyframes progress {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}