.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.detail {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container img {
  border-radius: 100%;
}

.detail p {
  margin: 0;
}

.state-on {
  background-color: rgba(0, 255, 0, 1);
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin-right: 1rem;
}

.state-off {
  background-color: rgba(255, 0, 0, 1);
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin-right: 1rem;
}

.total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.name {
  font-size: 16px;
  font-weight: 600;
}

.position {
  font-size: 14px;
  color: rgba(143, 143, 143, 1);
}